.inputTitle,
.inputDate,
.inputPrice {
  height: 7vh;
  border: solid 1px white;
  border-radius: 10px;
  column-gap: 20px;
  width: 40vh;
  margin-top: 20px;
  margin-left: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #9932cc;
  width: 160vh;
  height: 40vh;
  align-self: center;
  border: 1px solid white;
  border-radius: 40px;
  padding: 10px;
  margin: 30px auto 0 auto;
}

.newExpenseButton {
  background-color: #4b0082;
  width: 20vh;
  height: 7vh;
  border: 1px solid white;
  border-radius: 7px;
  color: white;
  margin-top: 20px;
  margin-left: auto;
}

::placeholder {
  color: black;
}
